.card__section2 {
  background-image: linear-gradient($color_main_boneWhite,
    $color_main_pureWhite);
}

/* Here start DESIGN styles */

.section2__colors--wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 8px;
}

.palette__triple--box {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
}

.palette__dimensions {
  width: 30px;
  height: 25px;
}

.palette__green,
.palette__red,
.palette__gray {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.palette__green--dark {
  background-color: $color_green_Dark;
}

.palette__green--medium {
  background-color: $color_green_Medium;
}

.palette__green--light {
  background-color: $color_green_Light;
}

.palette__red--dark {
  background-color: $color_red_Dark;
}

.palette__red--medium {
  background-color: $color_red_Medium;
}

.palette__red--light {
  background-color: $color_red_Light;
}

.palette__gray--dark {
  background-color: $color_gray_Dark;
}

.palette__gray--medium {
  background-color: $color_gray_Medium;
}

.palette__gray--light {
  background-color: $color_gray_Light;
}

.fonts__container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.fontfamily__types {
  display: flex;
  flex-direction: column;
}

.h2__card--page {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 18px;
  color: $color_main_gray;
  text-transform: uppercase;
}

.icon__card-page {
  color: $color_main_orange;
  font-size: 18px;
}

.icon__arrow--card-page {
  font-size: 18px;
  color: $color_main_gray;
}

.fonts__color--and--font {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 14px;
  color: $color_main_gray;
  text-transform: uppercase;
  width: 50%;
}

.fontfamily__options {
  margin-bottom: 9px;
}

.ubuntu {
  font-family: $font-family_option1;
  font-weight: $font-weight_semi-bold;
  font-size: 16px;
  padding-left: 3px;
}

.comic-sans {
  font-family: $font-family_option2;
  font-size: 16px;
  padding-left: 3px;
}

.merriweather {
  font-family: $font-family_option3;
  font-weight: $font-weight_regular;
  font-size: 16px;
  padding-left: 3px;
}

/* Here start COMPLETE styles */

.titles__complete-form {
  padding-top: 10px;
  padding-bottom: 2px;
}

.button__add--image {
  width: 140px;
  height: 30px;
  border-radius: 3px;
  background-color: $color_main_orange;
  color: $color_main_pureWhite;
  font-size: 14px;
  font-family: $font-family_main;
}

.titles__complete-form {
  font-size: 14px;
  font-family: $font-family_main;
  color: $color_main_green;
}

/* Here start SHARE styles */

.button__create-card {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  background-color: $color_main_orange;
  color: $color_main_pureWhite;
  font-size: 18px;
  font-family: $font-family_main;
  text-transform: uppercase;
  margin-top: 30px;
}

.content__of-button-create-card {
  display: flex;
  flex-direction: column;
}

.button__twitter {
  cursor: pointer;
  width: 181px;
  height: 30px;
  border-radius: 3px;
  background-color: #00a0f5;
  color: $color_main_pureWhite;
  font-size: 14px;
  font-family: $font-family_main;
  font-weight: $font-weight_regular;
}

.title__card--created {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 18px;
  color: $color_main_gray;
}

.title__card--link {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 12px;
  color: $color_main_orange;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Here start COLLAPSIBLES: Design, Complete, Share */

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.active,
.collapsible:hover {
  background-color: $color_main_division;
}

.content {
  padding: 0 18px 30px 18px;
  display: none;
  overflow: hidden;
}

/* Here start COLLAPSIBLE of ButtonShare */

.activeButtonShare,
.collapsibleButtonShare:hover {
  background-color: $color_main_inactive;
}

.title__card--created,
.title__card--link,
.button__twitter {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.button__create-card {
  width: 220px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* Here start PROFILE styles */

.profile {
  width: 320px;
  height: 460px;
  background: linear-gradient(#2ee2c4, #2effc4);
  margin: 0 auto;
  font-family: $font-family_option2;
}

ul,
ol {
  list-style: none;
  ;
}

.profile__action {
  width: 75px;
  height: 30px;
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  border: 1px solid $color_main_pureWhite;
  border-radius: 15px;
  margin: 10px auto 20px 45px;
  // color: $color_main_gray;
  color: $color_main_pureWhite;
  transition: .3s all ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(2, 158, 158, .2);

  &:hover {
    color: #2ee2c4;
    background-color: $color_main_pureWhite;
    box-shadow: 0px 5px 5px 0px rgba(2, 158, 158, .2);
    transform: translateY(-3px);
  }
}

.profile__action-text {
  text-transform: uppercase;
  margin-left: 5px;
}

.profile__data {
  width: 240px;
  height: 370px;
  background-color: $color_main_pureWhite;
  border-radius: 2px;
  margin: 0 auto 30px;
  box-shadow: 0px 2px 7px 0px rgba(4, 204, 204, 1);
  overflow: hidden;
}

.profile__data-top {
  display: flex;
}

.profile__vertical-line {
  width: 5px;
  height: 40px;
  background-color: $color_green_Light;
  margin: 25px 15px 10px 0;
}

.profile__data-group {
  margin-top: 25px;
}

.profile__name {
  font-weight: $font-weight_bold;
  color: $color_green_Dark;
  font-size: 18px;
  line-height: 18px;
}

.profile__profession {
  color: $color_main_gray;
  font-size: 16px;
  line-height: 16px;
  margin-top: 5px;
}

.profile__picture {
  max-width: 100%;
  max-height: 100%;
}


/* Here starts list of contact icons for profile section*/
.list_contact {
  display: flex;
  margin: 10px auto 10px 20px;
}

.border_bottom {
  border-bottom: 2px solid $color_green_Medium;
  opacity: .2;
}

.icon_border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid $color_green_Light;
  border-radius: 50%;
  margin-right: 10px;

  .ico {
    font-size: 18px;
    color: $color_main_green;

  }
}

/* Here starts list of skills icons for profile section*/

.list_skills {
  display: flex;
  margin: 10px auto 10px 15px;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-family: $font-family_main;
  font-weight: $font-weight_regular;
  background-color: $color_green_Medium;
  margin-right: 10px;
  font-size: 13px;
  border-radius: 4px;
  height: 18px;
}

.skill1 {
  width: 46px;
}

.skill2 {
  width: 33px;
}

.skill3 {
  width: 44px;
}

/* Red style for profile card*/

.red {
  .profile__name {
    color: $color_red_Dark;
  }

  .ico {
    color: $color_red_Dark;
  }

  .border_bottom {
    border-bottom: 2px solid $color_red_Medium;
  }

  .skill {
    background-color: $color_red_Medium;
  }

  .icon_border {
    border: 2px solid $color_red_Light;
  }

  .profile__vertical-line {
    background-color: $color_red_Light;
  }  
}

/* Gray style for profile card*/

.gray {
  .profile__name {
    color: $color_gray_Dark;
  }

  .ico {
    color: $color_gray_Dark;
  }

  .border_bottom {
    border-bottom: 2px solid $color_gray_Medium;
  }
  
  .skill {
    background-color: $color_gray_Medium;
  }

  .icon_border {
    border: 2px solid $color_gray_Light;
  }

  .profile__vertical-line {
    background-color: $color_gray_Light;
  }  
}