*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
  
body{
    background-color: $color_main_boneWhite;
}

.card__section2{
    background-image: linear-gradient($color_main_boneWhite, $color_main_pureWhite);
}

.section2__colors--wrapper {
    display:flex;
    flex-direction: row;
}
.palette__green--dark{ 
    background-color: $color_green_Dark;
    width: 30px;
    height: 25px;
}

.palette__green--medium{ 
    background-color: $color_green_Medium;
    width: 30px;
    height: 25px;
}
.palette__green--medium{ 
    background-color: $color_green_Light;
    width: 30px;
    height: 25px;
}