.card__section2 {
  background-image: linear-gradient(
    $color_main_boneWhite,
    $color_main_pureWhite
  );
}

/* Here start DESIGN styles */

.section2__colors--wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 8px;
}

.palette__triple--box {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
}

.palette__dimensions {
  width: 30px;
  height: 25px;
}

.palette__green,
.palette__red,
.palette__gray {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.palette__green--dark {
  background-color: $color_green_Dark;
}

.palette__green--medium {
  background-color: $color_green_Medium;
}

.palette__green--light {
  background-color: $color_green_Light;
}

.palette__red--dark {
  background-color: $color_red_Dark;
}

.palette__red--medium {
  background-color: $color_red_Medium;
}
.palette__red--light {
  background-color: $color_red_Light;
}

.palette__gray--dark {
  background-color: $color_gray_Dark;
}

.palette__gray--medium {
  background-color: $color_gray_Medium;
}
.palette__gray--light {
  background-color: $color_gray_Light;
}

.fonts__container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.fontfamily__types {
  display: flex;
  flex-direction: column;
}

.h2__card--page {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 18px;
  color: $color_main_gray;
  text-transform: uppercase;
}

.icon__card-page {
  color: $color_main_orange;
  font-size: 18px;
}

.icon__arrow--card-page {
  font-size: 18px;
  color: $color_main_gray;
}

.fonts__color--and--font {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 14px;
  color: $color_main_gray;
  text-transform: uppercase;
  width: 50%;
}

.fontfamily__options {
    margin-bottom: 9px;
}

.ubuntu {
  font-family: $font-family_option1;
  font-weight: $font-weight_semi-bold;
  font-size: 16px;
  padding-left: 3px;
}

.comic-sans {
  font-family: $font-family_option2;
  font-size: 16px;
  padding-left: 3px;
}

.merriweather {
  font-family: $font-family_option3;
  font-weight: $font-weight_regular;
  font-size: 16px;
  padding-left: 3px;
}

/* Here start COMPLETE styles */

.titles__complete-form {
    padding-top: 10px;
    padding-bottom: 2px;
}

.button__add--image {
  width: 140px;
  height: 30px;
  border-radius: 3px;
  background-color: $color_main_orange;
  color: $color_main_pureWhite;
  font-size: 14px;
  font-family: $font-family_main;
}

.titles__complete-form {
  font-size: 14px;
  font-family: $font-family_main;
  color: $color_main_green;
}

/* Here start SHARE styles */

.button__create-card {
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  background-color: $color_main_orange;
  color: $color_main_pureWhite;
  font-size: 18px;
  font-family: $font-family_main;
  text-transform: uppercase;
  margin-top: 30px;
}

.content__of-button-create-card {
  display: flex;
  flex-direction: column;
}

.button__twitter {
  cursor: pointer;
  width: 181px;
  height: 30px;
  border-radius: 3px;
  background-color: #00a0f5;
  color: $color_main_pureWhite;
  font-size: 14px;
  font-family: $font-family_main;
  font-weight: $font-weight_regular;
}

.title__card--created {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 18px;
  color: $color_main_gray;
}

.title__card--link {
  font-family: $font-family_main;
  font-weight: $font-weight_semi-bold;
  font-size: 12px;
  color: $color_main_orange;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Here start COLLAPSIBLES: Design, Complete, Share */

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.active,
.collapsible:hover {
  background-color: $color_main_division;
}

.content {
  padding: 0 18px 30px 18px;
  display: none;
  overflow: hidden;
}

/* Here start COLLAPSIBLE of ButtonShare */

.active__button--share,
.collapsible__button--share:hover {
  background-color: $color_main_inactive;
}

.content__of-button-create-card {
  display: none;
  overflow: hidden;
}
