<main class="main-index">
    <div class="text_create-card">
        <h1 class="h1-index">Create your visit card</h1>
        <p class="p-index">Create better business contacts easily and comfortably.</p>
    </div>
    <nav class="nav-index">
        <ul class="ul-index">
            <li class="li-index">
                <i class="fas fa-object-ungroup"></i>
                <h2 class="h2-index">Design</h2>
            </li>
            <li class="li-index">
                <i class="fas fa-keyboard"></i>
                <h2 class="h2-index">Complete</h2>
            </li>
            <li class="li-index">
                <i class="fas fa-share-alt"></i>
                <h2 class="h2-index">Share</h2>
            </li>
        </ul>
    </nav>
    <div class="btn-start_center"><button class="btn-start"><a class="btn-start_a" href="card.html">START</a></button></div>
</main>