<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<title>undefined-team project</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header>
        <img src="">
    </header>
    <main>
        <section>
            <button>
                <i></i>
                <span></span>
            </button>
            <div>
                <div>
                    nombre apellido
                </div>
                <div>
                    professión
                </div>
                <div>img</div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
        <section>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </main>
</body>
</html>