<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>undefined-team project</title>
    <link rel="icon" href="../assets/icons/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link href="http://allfont.es/allfont.css?fonts=comic-sans-ms" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <header class="header-index">
        <img class="logo_awesome" src="assets/images/descarga.svg">
    </header>

    <main>
        <section class="profile">
            <button class="profile__action">
                <i class="far fa-trash-alt"></i>
                <span class="profile__action-text">Reset</span>
            </button>
            <div class="profile__data">
                <div class="profile__data-top">
                    <div class="profile__vertical-line"></div>
                    <div class="profile__data-group">
                        <div class="profile__name">Name Surname</div>
                        <div class="profile__profession">Job</div>
                    </div>
                </div>
                <img class="profile__picture" src="../assets/images/default_picture.jpg" alt="Default picture">
                <ul class="list_contact">
                        <li class="icon_border">
                            <i class="fas fa-mobile-alt"></i>
                        </li>
                        <li class="icon_border">
                            <i class="far fa-envelope"></i>
                        </li>
                        <li class="icon_border">
                            <i class="fab fa-linkedin-in"></i>
                        </li>
                        <li class="icon_border">
                            <i class="fab fa-github-alt"></i>
                        </li>
                    </ul>
                    <ul class="list_skills">
                        <li class="skill skill1">html</li>
                        <li class="skill skill2">css</li>
                        <li class="skill skill3">gulp</li>
                    </ul>
                
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>

        <section class="card__section2">
            <ul class="section2__list">
                <li class="section2__list--collapsible1">

                    <div class="collapsible">
                        <h2 class="h2__card--page"><i class="far fa-object-ungroup icon__card-page"></i> Design</h2>
                        <div><i class="fas fa-angle-up icon__arrow--card-page"></i></div>
                    </div>

                    <div class="content">

                        <div class="section2__colors--wrapper">
                            <div class="fonts__color--and--font">Colors</div>
                            <div>
                                <label for="palette__green" class="palette__green">
                                    <input id="palette__green" type="radio" value="color__green" name="palette__color">
                                    <div class="palette__triple--box">
                                        <div class="palette__dimensions palette__green--dark"></div>
                                        <div class="palette__dimensions palette__green--medium"></div>
                                        <div class="palette__dimensions palette__green--light"></div>
                                    </div>
                                </label>
                                <label for="palette__red" class="palette__red">
                                    <input id="palette__red" type="radio" value="color__red" name="palette__color">
                                    <div class="palette__triple--box">
                                        <div class="palette__dimensions palette__red--dark"></div>
                                        <div class="palette__dimensions palette__red--medium"></div>
                                        <div class="palette__dimensions palette__red--light"></div>
                                    </div>
                                </label>
                                <label for="palette__gray" class="palette__gray">
                                    <input id="palette__gray" type="radio" value="color__gray" name="palette__color">
                                    <div class="palette__triple--box">
                                        <div class="palette__dimensions palette__gray--dark"></div>
                                        <div class="palette__dimensions palette__gray--medium"></div>
                                        <div class="palette__dimensions palette__gray--light"></div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="fonts__container">
                            <div class="fonts__color--and--font">Fonts</div>
                            <div class="fontfamily__types">
                                <label for="font__option--1" class="fontfamily__options">
                                    <input id="font__option--1" type="radio" value="Ubuntu" name="fontfamily__option">
                                    <span class="ubuntu">Ubuntu</span>
                                </label>
                                <label for="font__option--2" class="fontfamily__options">
                                    <input id="font__option--2" type="radio" value="Comic Sans" name="fontfamily__option">
                                    <span class="comic-sans">Comic Sans</span>
                                </label>
                                <label for="font__option--3" class="fontfamily__options">
                                    <input id="font__option--3" type="radio" value="Montserrat" name="fontfamily__option">
                                    <span class="merriweather">Montserrat</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </li>

                <li class="section2__list--collapsible2">
                    <div class="collapsible">
                        <h2 class="h2__card--page"><i class="fas fa-keyboard icon__card-page"></i> Complete</h2>
                        <div><i class="fas fa-angle-up icon__arrow--card-page"></i></div>
                    </div>
                    <div class="content">
                        <form action="">

                            <div class="titles__complete-form"><label for="email">Full name</label></div>
                            <div><input size="43" placeholder="Ej: Sally Hill" id="name" type="text" name="name"
                                    required></div>

                            <div class="titles__complete-form"><label for="email">Job position</label></div>
                            <div><input size="43" placeholder="Ej: Front-end unicorn" id="job" type="text" name="job"
                                    required></div>

                            <div class="titles__complete-form"><label for="image">Profile image</label></div>
                            <div>
                                <button class="button__add--image">Add image</button>
                                <input id="image" type="checkbox" value="image" name="image">
                            </div>

                            <div class="titles__complete-form"><label for="email">Email</label></div>
                            <div><input size="43" placeholder="Ej: sally.hill@gmail.com" id="email" type="email" name="email"
                                    required></div>

                            <div class="titles__complete-form"><label for="telf_movil">Telephone number</label></div>
                            <div><input size="43" placeholder="Ej: 555-55-55-55" id="telf_movil" type="text" name="telf_movil"
                                    pattern="^6[0-9]{8}$" required></div>

                            <div class="titles__complete-form"><label for="email">LinkedIn</label></div>
                            <div><input size="43" placeholder="Ej: linkedin.com/in/sally-hill" id="linkedin" type="email"
                                    name="linkedin" required></div>

                            <div class="titles__complete-form"><label for="email">GitHub</label></div>
                            <div><input size="43" placeholder="Ej: @sally-hill" id="github" type="email" name="github"
                                    required></div>

                            <div class="titles__complete-form"><label for="skills">Skills (max 3)</label></div>

                            <div class="titles__complete-form">
                                <label for="html">
                                    <input id="html" type="checkbox" value="html" name="html">HTML
                                </label>
                            </div>
                            <div class="titles__complete-form">
                                <label for="css">
                                    <input id="css" type="checkbox" value="css" name="css">CSS
                                </label>
                            </div>
                            <div class="titles__complete-form">
                                <label for="react">
                                    <input id="react" type="checkbox" value="react" name="react">React
                                </label>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="section2__list--collapsible3">
                    <div class="collapsible">
                        <h2 class="h2__card--page"><i class="fas fa-share-alt icon__card-page"></i> Share</h2>
                        <div><i class="fas fa-angle-up icon__arrow--card-page"></i></div>
                    </div>
                    <div class="content">
                        <button class="collapsible button__create-card">
                            <i class="far fa-id-card"></i>
                            <a> Create visit card</a>
                        </button>
                        <div class="content content2">
                            <div class="title__card--created">The card has been created</div>
                            <a class="title__card--link">https://awesome-profile-card.com?id=A456DF0001</a>
                            <button class="button__twitter">
                                <i class="fab fa-twitter"></i>
                                <a>Share on twitter</a>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

        </section>
    </main>

    <partial src="_footer.html" label="Main"></partial>

    <script type="text/javascript" src="assets/js/main.min.js"></script>
</body>

</html>