<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>undefined-team project</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <!-- <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial> -->
    <header>
      <img src="">
    </header>
    <main>
      <div>
        <h1></h1>
        <p></p>
      </div>
      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
      <button><a href="#"></a></button>
    </main>
    <footer>
      <div></div>
      <img src="">
      <img src="">
    </footer>
  </div>
</body>
</html>
