<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>undefined-team project sprint_3</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link href="http://allfont.es/allfont.css?fonts=comic-sans-ms" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:400,600|Open+Sans:400,600|Ubuntu:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="body-index">
  <partial src="_header.html" label="Header"></partial>
  <partial src="_main.html" label="Main"></partial>
  <partial src="_footer.html" footer="footer--main" label="Main"></partial>
</body>

</html>