.footer-index {
  background-color: $color_main_pureWhite;
  border: 1px solid $color_main_division;
  text-align: center;
  padding: 20px;
}

.copyright-index {
  color: $color_footer_gray;
  font-size: 14px;
  font-weight: $font-weight_regular;
  font-family: $font-family_main;
}

.logo-adalab {
  height: 40px;
}

.logo-undefined {
  width: 110px;
  margin: 7px;
}

@media all and (min-width: 768px) {
  .footer-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copy__and--logoundefined {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
