header {
  display: flex;
  justify-content: center;
}

.logo_awesome {
  width: 250px;
  margin-top: 94px;
}

@media all and (min-width: 768px) {
  .header-logo {
    margin: 30px auto 30px 40px;
  }
  .logo_awesome {
    width: 419px;
    margin-top: 107px;
    margin-bottom: 31px;
  }
}
