$color_1: #f5f5f5;
$color_2: #e17334;
$color_3: #54585a;
$color_4: #114e4e;
$color_5: #438792;
$color_6: #979797;
$color_7: white;
$color_8: #d8d8d8;
$color_9: #6b6b6b;

$font-family_1: 'Merriweather', serif;
$font-family_2: 'Open Sans', sans-serif;
$font-family_3: 'Montserrat', sans-serif;
$font-family_4: 'Ubuntu', sans-serif;
$font-family_5: 'Comic Sans MS', arial;

$font-weight_regular: 400;
$font-weight_medium: 500;
$font-weight_semi-bold: 600;
$font-weight_bold: 700;